.col-md{
    background-image: url("images/background/h_img.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
}
.par{
    margin-left: 23%;
} 
.services{
    background-image: url("images/background/s_image.jpg");
    background-position: center;
    background-size: cover;
    height: 270px;
}
.services h4{
    margin-top: 30px;
}
.logo{
    padding-top: 85px;
}
.last{
    background-image: url("/images/background/c_image.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    
}


