.col-md{
    background-image: url("images/background/h_img.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
}
.par{
    margin-left: 23%;
} 
.services{
    background-image: url("images/background/s_image.jpg");
    background-position: center;
    background-size: cover;
    height: 270px;
}
.services h4{
    margin-top: 30px;
}
.logo{
    padding-top: 85px;
}
.last{
    background-image: url("/images/background/c_image.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    
}
#name{
    width: 70vh;
    margin-left: 100px;
    background-color: transparent;
    border:1px solid white;
}
#email{
    width: 70vh;
    margin-right: 600cm;
    background-color: transparent;
    border:1px solid white;
}
#mail{
    padding-top: 20px;
}
#text{
    background-color: transparent;
    height: 35vh;
    width: 150vh;
    border:1px solid white;
}
::-webkit-input-placeholder{
    color: white;
}
*{
    overflow-x: hidden;
}
.we-do p{
    display: none;

}

